# Python кэш-файлы
__pycache__/
*.py[cod]
*$py.class

# Временные файлы
*.save
*.backup
.DS_Store

# Директории сред разработки
.idea/
.vscode/

# Файлы виртуального окружения
venv/
env/
.env

# Кэши и логи
*.log
.cache
cache/
.cursor/

# Директории сборки
dist/
build/

# Кэш Jupyter Notebook
.ipynb_checkpoints

# Зависимости Node.js
node_modules/ 